// place your custom styles here

@use "vuepress-theme-hope/presets/bounce-icon";
@use "vuepress-theme-hope/presets/shinning-feature-panel";

.reveal {
  font-size: 1.6rem;
}

.reveal * {
  font-size: inherit;
}

.footer a {
  text-decoration: none !important;
}